html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: -1px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
/*Call to action*/

.flex-center {
    color: #fff;
}

.default-background-color {
  background-color: #404040 !important;
}

.default-background-text-color {
  background-color: #f5f5f5;
}

.form-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.tab-padding {
  padding-top: 50px;
}

.modal-position {
  width: 500px;
  height: 500px;
}

.custom-primary-color {
  background-color: #292b2c !important;
}

.custom-footer {
  margin-top: 0px !important;
}

.move-right {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 45px;
  padding-top: 150px;
}

.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img%20(50).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
