<div class="move-right">
	<div>
		<div class="row">
			<div class="" [ngClass]="{'col-md-12': hasSelectedBucketList === false, 'col-md-6': hasSelectedBucketList}">
				<div class="card custom-primary-color">
					<div class="card-header indigo" data-background-color="red">
						<div class="row">
							<div class="col-md-10">
								<h4 class="title">Bucket lists</h4>
								<p class="category">Here is a list of your bucket lists</p>
							</div>
							<div class="col-md-2 btn-floating btn-lg purple-gradient">
								<a routerLink="/layout/bucketlists/new">
                            <span class="fa fa-plus-circle text-success h1-responsive font-bold "></span>
                </a>
							</div>
						</div>
					</div>
					<div class="card-content table-responsive form-padding">
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
								<form class="navbar-form navbar-right">
									<div class="form-group form-black is-empty">
										<input type="text" class="form-control" placeholder="Items per page" name="limit" [(ngModel)]="limit" (ngModelChange)="do_pagination($event)">
										<span class="material-input"></span>
									</div>
								</form>
							</div>
							<div class="col-md-4">
								<form class="navbar-form navbar-right" role="search" (ngSubmit)="search()" #f="ngForm" novalidate>
									<div class="form-group form-black is-empty">
										<input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="searchQuery" required>
										<span class="material-input"></span>
									</div>
								</form>
							</div>
						</div>
						<div *ngIf="message" class="alert alert-success">{{ message }}</div>
						<div *ngIf="empty">
							<table class="table table-sm table-hover form-padding">
								<thead class="">
									<tr>
										<th>Title</th>
										<th>Status</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let bucketlist of bucketLists | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count}" (click)="onSelect(bucketlist)">
										<td>{{ bucketlist.title }}</td>
										<td class="white-text">{{ bucketlist.status }}</td>
										<td>
											<a [routerLink]="['/layout/bucketlists', bucketlist.id]">
												<i class="fa fa-pencil-square-o text-white"></i>
											</a>
										</td>
										<td>
											<a (click)="deleteBucketList(bucketlist)" class="pointer">
												<i class="fa fa-trash-o text-white"></i>
											</a>
										</td>
									</tr>
								</tbody>
								<div class="clearfix"></div>
							</table>
							<pagination-controls (pageChange)="page = getServerData($event)" directionLinks="true" autohide="true">
							</pagination-controls>
						</div>
					</div>
				</div>
			</div>
      <div class="col-md-6" *ngIf="selectedBucketList">
        <app-items [bucketListId]="selectedBucketList.id" [bucketListTitle]="selectedBucketList.title"></app-items>
      </div>
		</div>
	</div>
</div>
