<!--Mask-->
<div class="view hm-black-light" xmlns="http://www.w3.org/1999/html">

	<div class="full-bg-img flex-center">
    <div class="row">
      <div class="col-lg-4 col-md-12 white-text">
        <h1 class="h4-responsive font-bold">Online tool to help you track and manage your bucket lists</h1>
          <ul class="list-unstyled" style="line-height: 2">
							<li class="h4-responsive font-bold"><span class="fa fa-check text-success h1-responsive font-bold"></span> Simple</li>
							<li class="h4-responsive font-bold"><span class="fa fa-check text-success h1-responsive font-bold"></span> Powerful</li>
							<li class="h4-responsive font-bold"><span class="fa fa-check text-success h1-responsive font-bold"></span> Slick design</li>
							<li class="h4-responsive font-bold"><span class="fa fa-check text-success h1-responsive font-bold"></span> Easy to use</li>
          </ul>
        <!--<div class="row">-->
          <!--<div class="col-md-4">-->
            <!--<i class="fa fa-user fa-5x text-success"></i>-->
            <!--<h6>Slick Design</h6>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<i class="fa fa-user fa-5x text-success"></i>-->
            <!--<h6>Easy to Use</h6>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<i class="fa fa-user fa-5x text-success"></i>-->
            <!--<h6>Easy to Use</h6>-->
          <!--</div>-->

        <!--</div>-->
      </div>
		<div class="col-lg-8 col-md-12">
			<ul class="animated fadeInUp modal-position pull-right">
				<li>
					<h1 class="h1-responsive font-bold">Sign in to continue</h1>
				</li>
				<li>
					<div class="row">
						<div class="col-md-12">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs nav-justified btn-default white-text" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#login" role="tab"><i class="fa fa-user"></i> Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#register" role="tab"><i class="fa fa-heart"></i> Register</a>
								</li>
							</ul>
							<!-- Tab panels -->
							<div class="tab-content card card-cascade tab-padding custom-primary-color">
								<!--Panel 1-->
								<div class="tab-pane fade in show active" id="login" role="tabpanel">
									<!-- Form login -->
									<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

										<div class="md-form form-padding" [ngClass]="{ 'has-error': f.submitted && !login_username.valid }">
											<input type="text" class="form-control white-text" id="login_username" name="login_username" [(ngModel)]="model.login_username" #login_username="ngModel" required />
											<label for="login_username" class="control-label form-padding">Username</label>
											<div *ngIf="f.submitted && !login_username.valid" class="help-block">Username is required</div>
											<span class="help-block"></span>
										</div>

										<div class="md-form form-padding" [ngClass]="{ 'has-error': f.submitted && !login_password.valid }">
											<input type="password" class="form-control white-text" id="login_password" name="login_password" [(ngModel)]="model.login_password" #login_password="ngModel" minlength="6" required/>
											<label for="login_password" class="control-label form-padding">Your password</label>
											<div *ngIf="f.submitted && !login_password.valid" class="help-block">Password is required</div>
											<span class="help-block"></span>
										</div>

										<div class="text-center">
											<button class="btn btn-default">Login</button>
										</div>
										<div *ngIf="error" class="alert alert-danger">{{error}}</div>
									</form>
									<!-- Form login -->
								</div>
								<!--/.Panel 1-->
								<!--Panel 2-->
								<div class="tab-pane fade" id="register" role="register">
									<app-register></app-register>
								</div>
								<!--/.Panel 2-->
							</div>
						</div>
					</div>

				</li>
			</ul>
		</div>
	</div>
  </div>
</div>
<!--/.Mask-->


