<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
   <div class="container">
      <a class="navbar-brand" href="#">Bucket list</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
         </ul>
         <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
         </form>
      </div>
   </div>
</nav>
<!--/.Navbar-->

<router-outlet></router-outlet>
<!--Footer-->
<footer class="page-footer center-on-small-only custom-primary-color custom-footer">
   <div class="footer-copyright">
      <div class="container-fluid">
         © 2017 Copyright: <a href="https://www.github.com/EdwinKato"> EdwinKato </a>
      </div>
   </div>
   <!--/.Copyright-->
</footer>

