<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Profile</h4>
                    <p class="category">Edit your profile</p>
                </div>
                <div class="card-content">
                    <form name="form" (ngSubmit)="save()" #f="ngForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label for="first_name" class="control-label">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="first_name" [(ngModel)]="user.first_name" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label for="last_name" class="control-label">Last Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="last_name" [(ngModel)]="user.last_name" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label for="username" class="control-label">Username</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label for="email" class="control-label">Email address</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
