<!--<div id="login-overlay" class="modal-dialog">-->
		<!--<div class="modal-content">-->
			<!--<div class="modal-header">-->
				<!--<h4 class="modal-title" id="myModalLabel">Create an account with us</h4> or go back to our-->
				<!--<a routerLink="/layout/bucketlists" routerLinkActive="active">main site</a>.-->
			<!--</div>-->
			<!--<div class="modal-body">-->
				<!--<div class="row">-->
					<!--<div class="col-xs-12">-->
						<!--<div class="well">-->
							<!--<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>-->
								<!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">-->
									<!--<label for="firstname" class="control-label">First name</label>-->
									<!--<input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required pattern="[a-zA-Z][a-zA-Z ]+" />-->
									<!--<div *ngIf="f.submitted && !firstname.valid" class="help-block">First name is required</div>-->
									<!--<span class="help-block"></span>-->
								<!--</div>-->
								<!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">-->
									<!--<label for="lastname" class="control-label">Last name</label>-->
									<!--<input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required pattern="[a-zA-Z][a-zA-Z ]+" />-->
									<!--<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last name is required</div>-->
									<!--<span class="help-block"></span>-->
								<!--</div>-->
								<!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">-->
									<!--<label for="email" class="control-label">Email</label>-->
									<!--<input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />-->
									<!--<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>-->
									<!--<span class="help-block"></span>-->
								<!--</div>-->
								<!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">-->
									<!--<label for="username" class="control-label">Username</label>-->
									<!--<input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required pattern="[a-zA-Z][a-zA-Z ]+" />-->
									<!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
									<!--<span class="help-block"></span>-->
								<!--</div>-->
								<!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">-->
									<!--<label for="password" class="control-label">Password</label>-->
									<!--<input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength="6" />-->
									<!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
									<!--<span class="help-block"></span>-->
								<!--</div>-->
								<!--<div class="form-group">-->
									<!--<button class="btn btn-success btn-block">Register</button>-->
								<!--</div>-->
								<!--<div *ngIf="error" class="alert alert-danger">{{ error }}</div>-->
							<!--</form>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-xs-6">-->
						<!--<p class="lead"><span class="text-success">LOGIN to</span></p>-->
						<!--<ul class="list-unstyled" style="line-height: 2">-->
							<!--<li><span class="fa fa-check text-success"></span> Manage your bucket lists</li>-->
							<!--<li><span class="fa fa-check text-success"></span> Add items to your bucket lists</li>-->
							<!--<li><span class="fa fa-check text-success"></span> Analyse progress on your bucket lists</li>-->
							<!--<li><span class="fa fa-check text-success"></span> Save your favorite bucket lists</li>-->
						<!--</ul>-->
						<!--<p><a routerLink="/login" routerLinkActive="active" class="btn btn-info btn-block">Login</a></p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

	<!--</div>-->


								<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
									<div class="md-form form-padding" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
										<input type="text" class="form-control white-text" id="firstname" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required pattern="[a-zA-Z][a-zA-Z ]+" />
										<label for="firstname" class="control-label form-padding">First name</label>
										<div *ngIf="f.submitted && !firstname.valid" class="help-block">First name is required</div>
										<span class="help-block"></span>
									</div>
									<div class="md-form form-padding" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
										<input type="text" class="form-control white-text" id="lastname" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required pattern="[a-zA-Z][a-zA-Z ]+" />
										<label for="lastname" class="control-label form-padding">Last name</label>
										<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last name is required</div>
										<span class="help-block"></span>
									</div>
									<div class="md-form form-padding" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
										<input type="text" class="form-control white-text" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
										<label for="email" class="control-label form-padding">Email</label>
										<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
										<span class="help-block"></span>
									</div>
									<div class="md-form form-padding" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
										<input type="text" class="form-control white-text" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required pattern="[a-zA-Z][a-zA-Z ]+" />
										<label for="username" class="control-label form-padding">Username</label>
										<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last name is required</div>
										<span class="help-block"></span>
									</div>
									<div class="md-form form-padding" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
										<input type="password" class="form-control white-text" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength="6" />
										<label for="password" class="control-label form-padding">Password</label>
										<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
										<span class="help-block"></span>
									</div>
									<div class="text-center">
										<button class="btn btn-default">Register</button>
									</div>
									<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
								</form>
