<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">items</h4>
                    <p class="category">Items in busket list {{ bucket_list_title }}</p>
                </div>
                <div class="card-content table-responsive">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                                    <a class="btn-floating btn-large waves-effect waves-light green"
                                        routerLink="/layout/bucketlists/{{ bucket_list_id }}/items/new">
                                        Create new item in bucket list<i class="material-icons">add</i>
                                    </a>
                                </div>
                            </div>
							<div class="col-md-12">
								<div class="row" *ngIf="empty">
									<div class="col-md-6">
										<form class="navbar-form navbar-right">
											<div class="form-group form-black is-empty">
												<input type="text" class="form-control" placeholder="Items per page" name="limit" [(ngModel)]="limit" (ngModelChange)="do_pagination($event)">
												<span class="material-input"></span>
											</div>
										</form>
									</div>
									<div class="col-md-6">
										<form class="navbar-form navbar-right" role="search" (ngSubmit)="search()" #f="ngForm" novalidate>
											<div class="form-group form-black is-empty">
												<input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="searchQuery" required>
												<span class="material-input"></span>
											</div>
											<button type="submit" class="btn btn-white btn-round btn-just-icon">
												<i class="material-icons">search</i><div class="ripple-container"></div>
											</button>
										</form>
									</div>
								</div>
							</div>
                        </div>
					<div *ngIf="message" class="alert alert-success">{{ message }}</div>
					<div *ngIf="empty">
						<table class="table table-hover">
							<thead class="text-danger">
								<tr>
									<th>id</th>
									<th>Title</th>
									<th>Description</th>
									<th>Status</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of items | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count}">
									<td>{{ item.id }}</td>
									<td>{{ item.title }}</td>
									<td>{{ item.description }}</td>
									<td class="text-danger">{{ item.status }}</td>
									<td>
										<a routerLink="/layout/bucketlists/{{bucket_list_id}}/items/{{item.id}}">
											<i class="material-icons">mode_edit</i>
										</a>
									</td>
									<td>
										<a (click)="deleteItem(item)" class="pointer">
											<i class="material-icons">delete</i>
										</a>
									</td>
								</tr>
							</tbody>
							<div class="clearfix"></div>
						</table>
						<pagination-controls
							(pageChange)="page = getServerData($event)"
							directionLinks="true"
							autohide="true">
						</pagination-controls>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
